---
import { getCollection } from "astro:content"

const newItems = await getCollection("newItems")
---

<aside class="main-aside">
   <h2>New</h2>
   <ul>
      {newItems.map(({data}, i) => {
         return (
             <li>
                <h3>{data.title}</h3>
                <p>{data.description}</p>
             </li>
         )
      })}
   </ul>
</aside>

<style>
   aside {
      font-size: 0.9rem;
      padding: 1rem;
      background-color: var(--very-dark-blue);
      color: var(--off-white);
      width: 100%;
   }

   h2 {
      font-size: 2.2em;
      color: var(--soft-orange);
      padding: 1rem 0 2rem 0;
   }


   ul {
      list-style: none;
      margin: 0;
      padding: 0;
   }

   li:not(:last-child) {
      border-block-end: 1px solid var(--dark-grayish-blue);
      margin-block-end: 2rem;
   }

   p {
      color: var(--grayish-blue);
      padding-block-start: 1rem;
      padding-block-end: 2rem;
   }
</style>