---
const {title} = Astro.props
---

<nav>
   <picture>
      <img src="/images/logo.svg" alt={title} width="65" height="40"/>
   </picture>
   <div id="mobile-menu" aria-label="open">
      <div id="mobile-menu-backdrop"></div>
      <div id="mobile-menu-nav">
         <label for="mobile-menu-button" tabindex="0" id="mobile-menu-trigger" aria-label="open" role="button"
                aria-expanded="false"
                aria-haspopup="true" aria-controls="mobile-menu-nav">
            <input type="checkbox" id="mobile-menu-button">
            <img src="/images/icon-menu.svg" alt="open" id="mobile-menu-image"/>
         </label>
         <ul id="mobile-menu-links" aria-hidden="true">
            <li><a href="#" class="menu-anchor" aria-current="page">Home</a></li>
            <li><a href="#" class="menu-anchor">New</a></li>
            <li><a href="#" class="menu-anchor">Popular</a></li>
            <li><a href="#" class="menu-anchor">Trending</a></li>
            <li><a href="#" class="menu-anchor">Categories</a></li>
         </ul>
      </div>
   </div>
</nav>

<style>
   @import "../styles/media.css";

   nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }

   ul {
      list-style: none;
   }

   #mobile-menu {
      display: flex;
      align-items: center;
      justify-content: end;
      text-align: right;
      width: revert;
      height: revert;
   }

   #mobile-menu-nav.menu-shown {
      position: absolute;
      display: block;
      width: 70dvw;
      height: 100dvh;
      top: -1rem;
      right: -1rem;
      z-index: 2;
      background-color: var(--off-white);

      img {
         margin: 1rem;
      }

      ul {
         display: flex;
         margin: 1rem;
      }
   }

   #mobile-menu-backdrop {
      display: none;
      background-color: var(--dark-grayish-blue);
      opacity: 0.5;
      width: 100dvw;
      height: 100dvh;
      z-index: -1;
   }

   #mobile-menu-backdrop.menu-shown {
      display: block;
      position: absolute;
      top: -1rem;
      right: -1rem;
      z-index: 1;
   }

   ul {
      display: flex;
      gap: 1.5rem;
      margin: 0;
      padding: 0;
   }

   a, a:visited {
      text-decoration: none;
      color: var(--dark-grayish-blue);
   }

   a:hover {
      color: var(--soft-red);
   }

   input[type=checkbox] {
      display: none;
   }

   /* Mobile */
   @media screen and (--mobile) {
      nav {
         margin-block-end: 2rem;
      }

      label {
         display: block;
      }

      #mobile-menu-nav {
         position: relative;
         top: 0;
         right: 0;
      }

      ul {
         display: none;
         flex-direction: column;
         text-align: left;
      }
   }

   /* Desktop */
   @media screen and (--desktop) {
      nav {
         margin-block-end: 3rem;
      }

      label {
         display: none;
      }

      #mobile-menu-nav {
         position: relative;
         height: 100%;
         width: 100%;
      }

      ul {
         display: flex;
         flex-direction: row;
      }
   }
</style>

<script>
   const menu = document.getElementById("mobile-menu-nav");
   const menuButton = document.getElementById("mobile-menu-button")
   const menuImg = document.getElementById("mobile-menu-image")
   const backdrop = document.getElementById("mobile-menu-backdrop")
   const trigger = document.getElementById("mobile-menu-trigger")
   const links = document.getElementById("mobile-menu-links")
   const anchors = menu.getElementsByClassName("menu-anchor");

   const toggleMenu = () => {
      const checked = document.getElementById("mobile-menu-button").checked
      trigger.setAttribute("aria-expanded", checked)
      links.setAttribute("aria-hidden", !checked)
      menuImg.src = checked ? "/images/icon-menu-close.svg" : "/images/icon-menu.svg"
      backdrop.classList.toggle("menu-shown")
      menu.classList.toggle("menu-shown")
      document.body.classList.toggle("no-scroll");
   }

   if (menuButton && menu && menuImg && backdrop && anchors && trigger && links) {
      menuButton.addEventListener("click", toggleMenu)
      trigger.addEventListener("keypress", (e) => {
         console.log(e.code)
         if (e.code === "Enter" || e.code === "Space") {
            toggleMenu()
         }
      })
      backdrop.addEventListener("click", () => {
         menuButton.checked = false;
         toggleMenu()
      })
      for (const a of anchors) {
         a.addEventListener("click", () => {
            menuButton.checked = false;
            toggleMenu()
         })
      }
   }
</script>