---

const {title } = Astro.props
---

<nav>
   <picture>
      <img src="/images/logo.svg" alt={title} width="65" height="40" />
   </picture>
   <ul>
      <li>Home</li>
      <li>New</li>
      <li>Popular</li>
      <li>Trending</li>
      <li>Categories</li>
   </ul>
</nav>